# Everything else is jointly owned by senior parser developers and Benchling Connect team
*			            	@slopez-b @Benchling-Open-Source/benchling-connect
# Limit allotrope schema code and CODEOWNERS to Benchling Connect team
src/allotropy/allotrope 		@Benchling-Open-Source/benchling-connect
CODEOWNERS              		@Benchling-Open-Source/benchling-connect
# Give ASM experts ownership over docs (Benchling Connect as backup)
docs			        	@james-leinas @Benchling-Open-Source/benchling-connect
src/allotropy/allotrope/schemas/schemas	@james-leinas @Benchling-Open-Source/benchling-connect
src/allotropy/allotrope/schemas/models	@james-leinas @Benchling-Open-Source/benchling-connect
