name: test

# Taken from https://github.com/actions/starter-workflows/blob/main/ci/python-app.yml

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, edited, synchronize]

permissions:
  contents: read

jobs:
  test_py_310:
    runs-on: ubuntu-latest
    name: Tests (python 3.10)

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Install hatch
      run: pip install hatch
    - name: Install click
      run: pip install click!=8.3.0
    - name: Run Tests
      run: hatch run test_all.py3.10:pytest -n 2 tests
      timeout-minutes: 10

  test_py_311:
    runs-on: ubuntu-latest
    name: Tests (python 3.11)

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11.9"
    - name: Install hatch
      run: pip install hatch
    # NOTE: due to bug: https://github.com/pallets/click/issues/3066
    - name: Install click
      run: pip install click!=8.3.0
    - name: Run Tests
      run: hatch run test_all.py3.11:pytest -n 2 tests
      timeout-minutes: 10

  test_py_312:
    runs-on: ubuntu-latest
    name: Tests (python 3.12)

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - name: Install hatch
      run: pip install hatch
    - name: Install click
      run: pip install click!=8.3.0
    - name: Run Tests
      run: hatch run test_all.py3.12:pytest -n 2 tests
      timeout-minutes: 10

  lint:
    runs-on: ubuntu-latest
    name: Quality Checks

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - uses: actions/setup-python@v4
      with:
        python-version: "3.11.9"
    - name: Install hatch
      run: pip install hatch
    - name: Install click
      run: pip install click!=8.3.0
    - name: Lint
      run: hatch run lint

  pr-title-check:
    runs-on: ubuntu-latest
    name: Check PR Title

    steps:
    - uses: actions/checkout@v3
      with:
        lfs: true
    - name: Check PR title
      run: ./scripts/check_title
      env:
        PR_TITLE: ${{ github.event.pull_request.title }}
